{% extends 'layout.twig' %}
{% block body %}

    {% set token = csrf_input() %}
    <div style="padding-left: 10rem; padding-right: 15rem">
        {% if flash('error') %}
            <div class="alert alert-danger">
                {{ flash('error') }}
            </div>
        {% endif %}
        {% if flash('success') %}
            <div class="alert alert-success">
                {{ flash('success') }}
            </div>
        {% endif %}
        <div class="row mb-4">
            <div class="col-md-6">
                <h1>
                    Mon compte
                </h1>
            </div>
            <div class="col-md-6">
                <h1>
                    {% if user.due and user.due > 0 %}
                        Solde {{ user.due }} $
                    {% endif %}
                </h1>
            </div>
        </div>

        <form action="" method="post" >
            <div class="row">
                <div class="col-md-6">
                    {{ field('username', user.username, 'Nom d\'utilisateur') }}
                </div>
                <div class="col-md-6">
                    {{ field('name', user.name, 'Nom') }}
                </div>
            </div>
            {{ field('last_name', user.lastName, 'Post Nom') }}

            <div class="row">
                <div class="col-md-6">
                    {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
                </div>
                <div class="col-md-6">
                    {{ field('password_confirm', null, 'Confirmation de mot de passe',{type: 'password'}) }}
                </div>
            </div>
            <button class="btn btn-primary">
                Modifiez
                {{ token | raw }}
            </button>
        </form>
    </div>
{% endblock %}