{% extends 'layout.twig' %}
{% block body %}
    <div class="col-md-12" style="padding-left: 10rem; padding-right: 15rem">
        {% if flash('error') %}
            <div class="alert alert-danger">
                {{ flash('error') }}
            </div>
        {% endif %}
        {% if flash('success') %}
            <div class="alert alert-success">
                {{ flash('success') }}
            </div>
        {% endif %}
        {% set token = csrf_input() %}
        <form action="{{ path('signup') }}" method="post">
            <div class="row">
                <div class="col-md-4">
                    {{ field('firstname', user.firstname, 'Prénom') }}
                </div>
                <div class="col-md-4">
                    {{ field('lastName', user.lastName, 'Post nom') }}
                </div>
                <div class="col-md-4">
                    {{ field('username', user.username, 'Nom d\'utilisateur') }}
                </div>
            </div>
            {{ field('email', user.email, 'Adresse email') }}
            <div class="row">
                <div class="col-md-6">
                    {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
                </div>
                <div class="col-md-6">
                    {{ field('password_confirm', null, 'Confirmer le mot de passe', {type: 'password'}) }}
                </div>
            </div>
            <button class="btn btn-primary">
                S'inscrire
                {{ token | raw }}
            </button>
        </form>
    </div>
{% endblock %}